


<!doctype html>
<html lang="en">
  <head>
    {% block head %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="/static/css/style.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"/>
    <title> {% block title %}  {% endblock %} - Project I</title>
    {% endblock %}


  </head>
  <body>
    <div class="parent">
      <div class="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="/sponsor/dashboard">Sponsor Dashboard</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul  class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li>
                  <a class="nav-link active" href="/sponsor/campaign"> Welcome {{session['user_id']}}</a>

                </li>
              </ul>
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                <li class="nav-item">
                  <a class="nav-link active"  href="/sponsor/profile">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/sponsor/campaign/show">Campaign</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/sponsor/find">Find</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/sponsor/stats">Stats</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>



              </ul>


            </div>
          </div>
        </nav>
      </div>
      <div class="aside">
        <nav class="navbar navbar-dark">
            <ul class="navbar-nav navbar-expand-md">
            <li>
              <div class="text-muted small fw-bold text-uppercase px-3">
                CORE
              </div>
            </li>
            <li>
              <a href="/sponsor/dashboard" class="nav-link px-3 active">
                <span class="me-2"><i class="bi bi-speedometer2"></i></span>
                <span>Dashboard</span>
              </a>
            </li>
            <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
            <li>
              <div class="small fw-bold text-uppercase px-3 mb-3">
                Interface
              </div>
            </li>
              <li>
                <a class="nav-link px-3 sidebar-link"
                 href="/sponsor/campaign">
                  <span class="me-2"><i class="bi bi-plus-circle"></i></span>
                  <span>Create Campaign</span>

                </a>
              </li>
            <li>
              <a class="nav-link px-3 sidebar-link"
               href="/sponsor/campaign/show">
                <span class="me-2"><i class="bi bi-binoculars"></i></span>
                <span>View Campaigns</span>

              </a>
            </li>
              <li>
                <a href="/sponsor/campaign/show" class="nav-link px-3">
                  <span class="me-2"><i class="bi bi-eye"></i></span>
                  <span>View AdRequests</span>
                </a>
              </li>
            
            <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
            <li>
              <div class="fw-bold text-uppercase px-3 mb-3">
                Addons
              </div>
            </li>
            <li>
              <a href="/sponsor/stats" class="nav-link px-3">
                <span class="me-2"><i class="bi bi-graph-up"></i></span>
                <span>Charts</span>
              </a>
            </li>
            <li>
              <a href="/sponsor/find" class="nav-link px-3">
                <span class="me-2"><i class="bi bi-search"></i></span>
                <span>Search</span>
              </a>
            </li>
          </ul>


        </nav>
      </div>
      <div class="main">
        {% with messages=get_flashed_messages() %}
            {% if messages %}
              {% for  message in messages %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  {{message}}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                </div>
                  {% endfor %}
                  {% endif %}
                {% endwith %}  


          {% block content %}




        {% endblock %}
        <div class="mb-5">
          
        </div>
      </div>
      <div class="footer">
        <nav class="navbar fixed-bottom bg-dark navbar-dark">
          <div class="container-fluid">
            <a class="navbar-brand me-auto" href="#">&copy 2024 Copyright: 23f1001523</a>
          </div>
        </nav>
      </div>
    </div>







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


  </body>
</html>