{% extends '/sponsor/sponsor_dashboard.html' %}
{% block title %}Profile{% endblock %}
{% block content %}

<div class='container mt-5'>
<div class="card">
  <div class="card-header bg-info text-white p-3">
   <h4 class='text-center'>Sponsor Role</h4>
  </div>
  <div class="card-body p-3">
     <form >
          <ul class="list-group">
            <li class="list-group-item" >Create an Account as a Sponsor</li>
            <li class="list-group-item">Login to the Account</li>
            <li class="list-group-item">Create a Campaign</li>
            <li class="list-group-item">Create an Adrequest</li>
            <li class="list-group-item">Send Requests to Influencers for private Campaigns</li>
            <li class="list-group-item">Accept Requests from Influencers from Public Campaigns</li>
            

         
            <li class="list-group-item">See Statistics of Campaigns and AdRequests</li>
          </ul>
       </form>
  </div>
  </div>
</div>


</div> 




{% endblock %}