{% extends 'base.html' %}
{% block title %} About {% endblock %}
{% block content %}
<div class="row justify-content-center mt-3">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h5>About Us</h5>
      </div>
      <div class="card-body">
          <p>This is Integrated Platform where Sponsors and influencers can easily find the approriate partner and expand thier reach and earning</p>
         <p>Customised and vide search range avialabel for Sponsor and Influencers</p>
        <P>Relevant analytics and Statistics are provided to have clear understanding of Data</P>
        
      </div>
    </div>
  </div>
</div>
{% endblock %}